.dx-datagrid-headers {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--color-primay);
}

/* Componente with the available pages */
.dx-pages {
    margin-top: 10px;
}

/* Componente with the available page sizes */
.dx-page-sizes {
    margin-top: 10px;
}

/* Selection of the componentes */
.dx-selection {
    background-color: var(--color-primay)!important;
}