@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

:root {
    --color-primay: #00FF7F;
    --color-secondary: hsl(270deg 75% 60%);
}

.text-small {
    font-size: 10px;
}

/*
    Project Default
*/

.btn {
    margin-right: .5rem;
}

.btn-default {
    background-color: var(--color-primay);
    border-color: var(--color-primay);
}

.btn-default:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-primay);
}

.btn-default-hollow {
    border-color: var(--color-primay);
    color: var(--color-primay) !important;
}

.input-default {
    height: 40px;
}

/* Sobrescreve a classe do select do react-select */
.css-1s2u09g-control {
    height: 40px;
}

/* Mover após ajuste do header/navbar */
.d-flex {
    display: flex !important
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.button {
    margin-left: 15px;
    border-color: #333333;
    border-width: 1px;
    border-radius: 15px;
    height: 30px;
    width: 150px;
}

nav p {
    margin-left: 15px;
    font-size: 25px;
}

.page-with-menu {
    display: flex;
    height: 100%;
}