@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

:root {
    --color-primay: #00FF7F;
    --color-secondary: hsl(270deg 75% 60%);
}

/*
    Project Default
*/

.btn {
    margin-right: .5rem;
}

.btn-default {
    background-color: var(--color-primay);
    border-color: var(--color-primay);
}

.btn-default:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-primay);
}

.btn-default-hollow {
    border-color: var(--color-primay);
    color: var(--color-primay) !important;
}

/* Mover após ajuste do header/navbar */
.d-flex {
    display: flex !important
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #f1356d;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    border-radius: 50px;
    border-width: 70px;
    border-color: #995500;
    color: #f2f2f2 !important;
    background-color: #333333;
}

.navbar a:hover {
    color: #333333 !important;
    background-color: #f2f2f2;
    border-color: #333333;
    border-width: 10px;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.button {
    margin-left: 15px;
    border-color: #333333;
    border-width: 1px;
    border-radius: 15px;
    height: 30px;
    width: 150px;
}

nav p {
    margin-left: 15px;
    font-size: 25px;
}